<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jstyle.css') }}">
</head>
<body>

    <!-- NAVBAR_ABOUT US-->

    <div class="navbar">
        <!-- <div class="logo"></div> -->
            <img src="{{ url_for('static', filename='images/logo_3.png') }}" alt="Logo">
    <div class="nav_content_page2">
        <a href="{{ url_for('index') }}">HOME</a>
        <a href="{{ url_for('about') }}">ABOUT US</a>
        <a href="{{ url_for('post_resume') }}">POST RESUME</a>
        <a href="{{ url_for('view_jobs') }}">JOBS</a>
        <a href="{{ url_for('contact') }}">CONTACT US</a>
        <a href="{{ url_for('post_job') }}">POST JOB</a>
    </div>
    
    <div class="panel">
        About Us

    </div>

    <!--  Hero Section_About Us -->

    <div class="hero_section_abtus">
        <h2>Welcome to "Jobingo"</h2>
        <P class="para_abtus">Your trusted partner in career growth and reqcrutment. We connect job seekers with the right opportunities and help companies find the perfect talent. 
            With expert guidance and reliable support, Jobingo makes your career journey simple, fast and successful.</P>
        
        <h2>Our Vision</h2>
        <p class="para_abtus">At Jobingo, our vision is to become the most trusted bridge between talent and opportunity. 
            We aim to empower individuals to achieve their career goals while enabling organizations to grom with the right wrokforce. 
            By fostering trust, transparency and excellence, we envision a future where every job seeker finds the right path and every 
            company discovers the right talent with ease.</p>
    
        <h2>Our Mission</h2>
        <p class="para_abtus">At Jobingo, our mission is to simplify the hiring process by connecting skilled job seekers with right opportunities and helping
            organizations find qualified talent seamlessly. We are committed to delivering personalized career guidance, reliable consultancy services, 
            and innovative reqcruitment solutions that empower individuals and strengthen businesses. Through dedication, integrity, and excellence, 
            we strive to shape brighter careers and build stronger organizations.
        </p>


    </div>

<!-- Footer Panel -->
 
<div class="foot_page2">
    <div class="box_1">
        <p id="head">Why Choose Us</p>
        <br>
        <p>Trusted Platform</p>
        <p>Expert Guidance</p>
        <p>Wide Network</p>
        <p>Fast & Reliable</p>
        <p>Career Growth Support</p>
        <p>Transparent Process</p>
    </div>

    <div class="box_2">
        <p id="head">Latest Jobs</p>
        <br>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
    </div>

    <div class="box_3">
        <p id="head">Site Map</p>
        <br>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Post Resume</a>
        <a href="#">Jobs</a>
        <a href="#">Contact Us</a>
    </div>

</div>
    

</body>
</html>