<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jstyle.css') }}">
</head>
<body>
    <!-- Navbar -->

    <div class="navbar">
        <!-- <div class="logo"></div> -->
            <img src="{{ url_for('static', filename='images/logo_3.png') }}" alt="Logo">
    <div class="nav_content">
        <a href="index.html">HOME</a>
        <a href="about_us.html">ABOUT US</a>
        <a href="post_resume.html">POST RESUME</a>
        <a href="jobs.html">JOBS</a>
        <a href="contact_us.html">CONTACT US</a>
        <a href="post_job.html">POST JOB</a>
    </div>
    </div>
    
    <!--  Hero Section_Image -->

    <div class="hero_section">
        <img src="background.png">
    </div>

<!-- Footer Panel -->

<div class="foot">
    <div class="box_1">
        <p id="head">Contact Us</p>
        <br>
        <p>207, Second Floor,</p>
        <p>Business Center-1,</p>
        <p>Madhuban, Udaipur - 313001</p>
        <p>+91 - 7891911372</p>
        <p>E-mail....................</p>
    </div>

    <div class="box_2">
        <p id="head">Latest Jobs</p>
        <br>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
        <a href="#">.....................</a>
    </div>

    <div class="box_3">
        <p id="head">Site Map</p>
        <br>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Post Resume</a>
        <a href="#">Jobs</a>
        <a href="#">Contact Us</a>
    </div>
</div>

</body>
</html>